/* You can add global styles to this file, and also import other style files */

.btn {
  padding: 12px;
  background-color: #663399;
  color: #fff;
  border: none;

  &:hover {
    background-color: #823aca;
  }
}

.cursor-pointer {
    cursor: pointer;
}
